<div class="panel">
  <div class="panel-body">
    <h4>"{{answer.content}}" <em>--- {{answer.author}}</em></h4>
    <button {{action 'delete' answer}} class="btn delete">Delete</button>
  </div>
</div>
