<h2>About</h2>

<div class=".profile-photo">

</div>

<p>Hi, my name is Max.  I'm a web developer, and I'm also a dad. Unlike the recent college grads flooding the tech industry, I'm 32 and financially responsible for a small family, which can sometimes feel a bit unique in the web-development world. Instead of going to happy hours with colleagues, I'm reading board-books and singing lullabies for my daughter's bedtime. Starting out, it felt like I was the only one pivoting into a web development career while parenting.</p>

<p>However, the more people I meet, the more I discover that my situation is not unique at all. There are plenty of Developer Moms and Dads out there, and I created this messageboard for them. I thought it would be nice to have a place online to share advice, empathy, tips and tricks for time management, etc. I hope you feel the same way!</p>
