<div class="container">
  <header>
    <div class="jumbotron bg-info">
      {{#link-to 'index'}}<h1>Dev Daddies & Mommies</h1>{{/link-to}}
      <h4>This is a message board for coders who are also parents. Feel free to ask and/or answer questions, technical or otherwise!</h4>
    </div>
  </header>

  {{outlet}}

<hr>
  <footer>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          {{#link-to 'about'}}<h3>About</h3>{{/link-to}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          {{#link-to 'index'}}<h3>Q's & A's</h3>{{/link-to}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <a href="https://www.maxobaxo.com/"><h3>Blog</h3></a>
        </div>
      </div>
    </div>
  </footer>
</div>
