<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Developer Doody</h1>
      <h4>This is a message board for coders who are also parents. Feel free to ask and/or answer questions, technical or otherwise!</h4>
    </div>
  </header>

  {{outlet}}

  <footer>
    <div class="well" id="footer">
      {{#link-to 'about'}}About{{/link-to}}
    </div>
  </footer>
</div>
