<h3>Specific Question: </h3>
<h4>{{model.author}} says: </h4>
<p>{{model.content}}</p>

{{edit-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}
